<div class="container counties">
    <div class="row">
        <div class="col-xs-12 text-left button-div">
            <input type="button" class="custom-button" value="Home" ng-click="cc.goTo('home')" />
        </div>
        <div class="col-xs-12">
            <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                <div class="scroll-me">
                    <div class="table-responsive col-xs-12" style="height: 100%">
                        <table class="table table-striped table-custom-style">
                            <thead>
                                <tr>
                                    <th>
                                    Name
                                    </th>
                                    <th>
                                        Country Code
                                    </th>
                                    <th>
                                        Capital
                                    </th>
                                    <th>
                                        Area in square kilometer
                                    </th>
                                    <th>
                                        Population
                                    </th>
                                    <th>
                                        Continent Code
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in cc.geoNames">
                                    <td ng-click="cc.goTo('countryview', item)">
                                        {{item.countryName}}
                                    </td>
                                    <td>
                                        {{item.countryCode}}
                                    </td>
                                    <td>
                                        {{item.capital}}
                                    </td>
                                    <td>
                                        {{item.areaInSqKm | number:2}}
                                    </td>
                                    <td>
                                        {{item.population | number}}
                                    </td>
                                    <td>
                                        {{item.continent}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
        
    </div>
</div>