<div class="background-globe">
  <div class="container">
    <div class="main-section">
      <div class="main-text text-center">
        <p>
          The Application lets you dig deep in the countries and about there capitals<br>
          User will find more by what population and countries sqaure area is of a particular country<br>
          Dont forget to check the details view which goes extra step and let you see the Flag and map of a particular country 
        </p>
        <input type="button" value="Browse Countries" ng-click="mc.goTo('countries')" class="main-button" />
      </div>
    </div>
  </div>
</div>
